@use "./variables" as *;

.savedRuns {
  background-color: white;
  border-radius: 1rem;
  text-align: center;
  letter-spacing: 1;
  width: 100%;
  padding: 1rem 0;
  margin: 1rem 0 2rem 0;

  .noRuns {
    h2 {
      color: #fd7fa4;;
      text-decoration: none;
      font-size: 1rem;
    }
  }

  .runs {
    margin: 1rem 2rem;
  }

  h2 {
    text-decoration: underline;
    color: #ff8e74;
  }

  h3 {
    font-size: 1rem;
    text-align: left;
    color: #fd7fa4;
    text-decoration: 2px dotted black;
  }

  p {
    text-align: left;
    margin: 0;
  }

  button {
    color: #fff;
    background-color: #ff8e74;

    &:hover {
      background-color: #a28ef0;
      transition: $defaultTransition;
    }

    &:active {
      background-color: #6e5eaf;
    }
  }

  .date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: $defaultTransition;

    .removeRunButton {
      font-size: 1rem;
      margin: 0 1rem;
      padding: 0.5rem 1rem;
      border-radius: 2rem;
    }
  }
}
