@use "./variables" as *;

.resultsContainer {
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  background-color: white;
  border-radius: 1rem;

  p {
    font-size: 1.5rem;
  }

  svg {
    color: #ffad21;
    font-size: 10rem;
    font-weight: 800;
  }
}

.back {
  margin: 2rem 0;
}
