@use '../styles/partials/_setup.scss';

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.columnsContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.leftColumn {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 50%;
}

.rightColumn {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.calendar .rw-calendar-grid {
  background: linear-gradient(#a24381, #d66292, #f87d82, #e7745a);
}

.suggestions {
  display: flex;
  flex-flow: column;
} 

.hidden {
  display: none;
}

.runTime {
  display: flex;
  flex-flow: row;

  .sunrise, .sunset {
    font-size: 11rem;
    font-weight: 600;
    color: orange;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
}