@use "../styles/partials/_setup.scss";

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}
/* Hides the default checkbox */
.themeToggleInput {
  display: none;
}

/* Style the toggle switch container */
.themeToggleSwitch {
  display: inline-block;
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}

/*Styles for the slider inside toggle*/
.themeToggleSlider {
  content: "";
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.4s;
}

/* Moves the slider when toggle is clicked - NOT WORKING*/
.themeToggleInput:checked + .themeToggleSwitch .themeToggleSlider {
  transform: translateX(30px);
  left: 30px;
  background-color: #2196F3;
}


.resultsBackground,
.mainBackground {
  background: linear-gradient(#a28ef0, #da83d8, #fd7fa4, #ff8e74, #ff9b58);
  height: 100vh;
  width: 100vw;
}

.location {
  display: flex;
  flex-flow: row;
  justify-content: center;

  input {
    flex-grow: 1;
  }
}

.columnsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
  gap: 30px;
}

.leftColumn {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50%;
}

.rightColumn {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.calendar {
  opacity: 0.5;

  &.rw-calendar-grid .rw-cell {
    background: rgba(255, 255, 255, 0.2);
    color: black;
  }

  .rw-cell.rw-state-selected {
    background: #ff8e74;
    color: #fff;
    border: none;
  }
}

.location input {
  // border-radius: %;
  border: none;
}

.suggestions {
  display: flex;
  flex-flow: column;
}

.hidden {
  display: none;
}

.runTime {
  display: flex;
  flex-flow: row;

  .sunrise,
  .sunset {
    font-size: 11rem;
    font-weight: 600;
    color: #ffcd47;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
}

// .futureRuns {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submit,
.savedRuns,
.saveRun,
.viewRuns {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  border-radius: 25px;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 30px;

  &:after {
    content: "";
    background-color: #b88ae7;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    border-radius: 25px;
    transition: 0.2s;
  }

  &:hover:after {
    top: 0px;
    left: 0px;
  }
}

.sunsetTheme {
  background: linear-gradient(#ffa43d, #ffad21, #ff981e, #ff6f26);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
