@use '../styles/partials/setup.scss';

form {
  display: flex;
  flex-flow: column;
  max-width: 20rem;
}

input {
}

.suggestions {
  display: flex;
  flex-flow: column;
}

.runTime {
  display: flex;
  flex-flow: row;

  .sunrise, .sunset {
    font-size: 11rem;
    font-weight: 600;
    color: orange;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
}